BACKUP_ROOT={{ backup.root | tojson }}
RETENTION_DAYS={{ backup.retention_days }}
MAKER_GUIDE_DATABASE={{ backup.maker_guide_database | tojson }}
MAKER_GUIDE_CONFIG={{ backup.maker_guide_config | tojson }}
ERGO_DATA={{ backup.ergo_data | tojson }}
LLDAP_DATA={{ backup.lldap_data | tojson }}
AUTHELIA_DATA={{ backup.authelia_data | tojson }}
FORGEJO_DATA={{ backup.forgejo_data | tojson }}
HOMES_DATA={{ backup.homes_data | tojson }}
