AUTHELIA_SESSION_SECRET_FILE={{ paths.session_secret_file }}
AUTHELIA_STORAGE_ENCRYPTION_KEY_FILE={{ paths.storage_encryption_key_file }}
AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET_FILE={{ paths.reset_password_jwt_secret_file }}
AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD_FILE={{ paths.ldap_password_file }}
{% if oidc_enabled %}
AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET_FILE={{ paths.oidc_hmac_secret_file }}
X_AUTHELIA_CONFIG_FILTERS=template
{% endif %}
