[Unit]
Description=Authelia
Documentation=https://www.authelia.com/
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ service.user }}
Group={{ service.group }}
WorkingDirectory={{ paths.data_directory }}
Environment=USER={{ service.user }}
Environment=HOME={{ service.home }}
Environment=AUTHELIA_SERVER_DISABLE_HEALTHCHECK=true
EnvironmentFile={{ paths.secret_environment_file }}
ExecStart=/usr/local/bin/authelia --config {{ paths.configuration_file }}
Restart=on-failure
RestartSec=5s
UMask=0027
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ReadWritePaths={{ paths.data_directory }}
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictNamespaces=true
RestrictSUIDSGID=true
LockPersonality=true
CapabilityBoundingSet=

[Install]
WantedBy=multi-user.target
