[Unit]
Description=Refresh DNS-backed nftables sets every {{ on_unit_active }}

[Timer]
OnBootSec={{ on_boot }}
OnUnitActiveSec={{ on_unit_active }}
AccuracySec={{ accuracy }}
Unit={{ service_name }}.service

[Install]
WantedBy=timers.target
